<!DOCTYPE html>
<html>
  <head>
    <title>taskv</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <% msgs = try(:flash) %>
      <% if msgs.present? %>
        <% msgs.each do |type, message| %>
          <p>
            <%= message.to_s %>
          </p>
        <% end %>
       <% end %> 
    <%= yield%>
  </body>
</html>
